@page
@model ASPRazorBase.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row py-4">
        <div class="col-6">
            <h1>Category List</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Create" class="btn btn-primary text-capitalize">Create New</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].DisplayOrder)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Category)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>

                    <div class="w-100 btn-group" role="group">
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-secondary mx-2">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
